.form-container {
    background-color: darkcyan;
    padding: 30px;
    max-width: 600px;
    height: auto;
    margin: 50px auto;
    /* Cách top 50px */
}


.form-container-channel{
    display: flex;
    background-color: gray;
    justify-content: flex-end; /* Thay thế "end" bằng "flex-end" */
    width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: darkcyan;

}
.channels-container{
    width: 400px;
}